<p style="color: green"><%= notice %></p>

<%= render @budget_category %>

<div>
  <%= link_to "Edit this budget category", edit_user_budget_category_path(@budget_category) %> |
  <%= link_to "Back to budget categories", user_budget_categories_path %>

  <%= button_to "Destroy this budget category", @user_budget_category, method: :delete %>
</div>
