<p style="color: green"><%= notice %></p>

<%= link_to 'Back', budget_categories_path %>
<h1>Expenses/Transactions</h1>
<p>Transactions Total: <%= @total %></p>

<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= render expense %>
  <% end %>
</div>

<%= link_to "Add New Transaction", new_budget_category_expense_path(@budget_category) %>
